body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title{
  font-size: 2.4rem;
  padding: 1rem 0 0 0;
  color: #08a05c;
}

.productos{
  padding: 5rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 30fr));
  gap: 8rem 1rem;
  box-sizing: border-box;
}
.producto{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius: 5px;
}

.imagen_producto{
  min-width: 150px;
  max-width: 150px;
  min-height: 200px;
  max-height: 200px;
}
.producto:hover{
  border: 6px solid #4e2bce63;
}

.producto__img img{
  max-width: 250px;
  max-height: 250px;
  height: 250px;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.producto__footer{
  height: 170px;
  padding: 1rem;
}

.producto__footer h1{
  font-weight: 600;
  font-size: 1.5rem;
  color: #1a202c;
  font-family: Helvetica, sans-serif;
}

.producto__footer p{
  font-weight: 700;
  color: rgba(0, 0, 0, .555);
  text-transform: uppercase;
  font-size: 18px;
  max-width: 200px;
}

.producto__footer .price{
  font-size: 2rem;
  color: #1a202c;
}

.producto .buttom{
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 3rem;

}

.buttom .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;

}

.buttom .btnDelete{
  background-color: red;
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;

}

.buttom button{
  background-color: #6130d3;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  margin-left: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  
}

button{
  border:none;
  background-color: transparent;
}

.buttom div {
  background-color: #08a05c;
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.buttom div a{
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

/*-----------------CARRITO------------------*/
.carritos{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color:rgba(0, 0, 0, .6);
  z-index: 2;
  padding-bottom: 5rem;
  visibility: hidden;
}

.carrito{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
  scale(.5);
  width: 80%;
  height: 80%;
  border-radius: 8px;
  overflow-x: scroll;
  transition: all 300ms ease-in-out;
  background-color: white;
  opacity: 0;
  visibility: hidden; 
}

.carrito h2{
  text-align: center;
  font-size: 2rem;
}

.carritos.show{
  visibility: visible;
}

.carrito.show{
  transform: translate(-50%, -50%)
  scale(1.1);
  opacity: 1;
  visibility: visible;
}

.carrito_close button{
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  margin: 3rem 0 0 2rem;
}



.carrito_center{
  width: 90%;
  margin:0 auto;
  
}

.carrito_item{
  display: grid;
  grid-template-columns:  1fr 2fr 1fr 1fr;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 1px 10px plum;
  border-radius: 5px;
}

.carrito_item img{
  width: 9rem;
}

.carrito_item h3{
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  font-family:Helvetica, sans-serif;
}

.carrito_item .price{
  font-size: 2rem;
  font-weight: bold;
  text-align: start;
  margin-left: -1rem;
}

.carrito_item button{
  width: 40px;
  height: 40px;
  cursor:pointer;
  margin-top: .3rem;
}



.carrito_item .cantidad{
  font-size: 2rem;
  font-weight: bold;
}

.carrito_item .remove_item button{
  width: 60px;
  height: 60px;
  margin-top: 2rem;
}

.carrito_footer{
  text-align: center;
  margin-bottom: 3rem;
}

.carrito_footer h3{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.carrito_footer .btn_payment{
  display: inline-block;
  padding: .3rem 1rem;
  font-size: 1.2rem;
  background-color: plum;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.carrito_footer .btn_payment:hover{
  background-color: purple;
  color: white;
}

/*-----------------Filtros------------------*/

.filtros .barra_busqueda{
  margin-bottom: 0.5rem;
  margin-left: 16rem;
  width: 60%;
}
.filtros .barra_busqueda:focus{
  border: 2px solid black;
}

.filtros .barra_precio_min{
  margin-left: 23rem;
}

.filtros .barra_precio_max{
  margin-left: 10rem;
}

/*-----------------Detalles------------------*/
.detalles{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.detalles .separacion a{
  font-size: 40px;
  
}

.detalles .descripcion{
  text-align: center;
  font-size: 20px;
  width: 1000px;
}
.detalles .separacion .imagenc{
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 4rem;
  
 
}

.detalles .separacion .precio{
  margin-left: 2rem;
  color: black;
  text-decoration: none;
 
}

.detalles button{
  background-color: #6130d3;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.buttom .cartbutton{
  max-width: 450px;
}

.objetoCart{
  align-items: center;
}
@media only screen and (max-width: 1000px){
  .carrito_item{
    width: 92%;
  }
}